aiohappyeyeballs==2.5.0
aiohttp==3.11.11
aiosignal==1.3.2
asgiref==3.8.1
astroid==2.15.8
attrs==25.1.0
boto3==1.37.10
botocore==1.37.10
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
coreapi==2.3.3
coreschema==0.0.4
coverage==7.4.0
cryptography==44.0.2
dill==0.3.9
distlib==0.3.9
dj-rest-auth==4.0.1
Django==5.1.7
django-cors-headers==4.3.0
django-extensions==3.2.3
django-filter==23.3
djangorestframework==3.15.2
djangorestframework-queryfields==1.1.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.10
factory-boy==3.3.0
Faker==19.13.0
faker-commerce==1.0.3
filelock==3.17.0
flake8==7.1.1
frozenlist==1.5.0
identify==2.6.9
idna==3.10
inflection==0.5.1
isort==5.13.2
itypes==1.2.0
Jinja2==3.1.6
jmespath==1.0.1
lazy-object-proxy==1.10.0
MarkupSafe==3.0.2
mccabe==0.7.0
moto==4.2.11
multidict==6.1.0
nodeenv==1.9.1
openapi-codec==1.3.2
packaging==24.2
pillow==11.1.0
platformdirs==4.3.6
pre_commit==4.0.1
propcache==0.3.0
psycopg2==2.9.6
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.19.1
pyflakes==3.2.0
PyJWT==2.10.1
pylint==2.17.7
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pylint-quotes==0.2.3
python-dateutil==2.9.0.post0
pytz==2023.3
PyYAML==6.0.2
requests==2.32.3
responses==0.25.6
s3transfer==0.11.4
schema==0.7.7
simplejson==3.20.1
six==1.17.0
sqlparse==0.5.3
tblib==2.0.0
tomlkit==0.13.2
types-python-dateutil==2.8.19.14
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3==2.3.0
virtualenv==20.29.3
Werkzeug==3.1.3
wrapt==1.17.2
xmltodict==0.14.2
yarl==1.18.3
